<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>촬영한 사진을 등록하기 위해서는 카메라에 대한 권한이 필요합니다</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>앨범 내 사진을 사용하기 위해선는 사용자의 앨범에 대한 권한이 필요합니다</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주변 장소 검색을 위해서 현위치 접근 권한이 필요합니다</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>주변 장소 검색을 위해서 현위치 접근 권한이 필요합니다</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.kcisa.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
